<?xml version="1.0"?>
<config>
    <modules>
        <Landofcoder_GDPR>
            <version>1.2.0</version>
        </Landofcoder_GDPR>
    </modules>
    <frontend>
        <layout>
            <updates>
                <landofcoder_gdpr>
                    <file>landofcoder/gdpr.xml</file>
                </landofcoder_gdpr>
            </updates>
        </layout>
        <routers>
            <landofcoder_gdpr>
                <use>standard</use>
                <args>
                    <module>Landofcoder_GDPR</module>
                    <frontName>landofcoder_gdpr</frontName>
                </args>
            </landofcoder_gdpr>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <landofcoder_gdpr before="Mage_Adminhtml">Landofcoder_GDPR_Adminhtml</landofcoder_gdpr>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <blocks>
            <landofcoder_gdpr>
                <class>Landofcoder_GDPR_Block</class>
            </landofcoder_gdpr>
        </blocks>
        <models>
            <landofcoder_gdpr>
                <class>Landofcoder_GDPR_Model</class>
            </landofcoder_gdpr>
        </models>
        <helpers>
            <landofcoder_gdpr>
                <class>Landofcoder_GDPR_Helper</class>
            </landofcoder_gdpr>
        </helpers>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <landofcoder_gdpr_model_resource_observer>
                        <class>Landofcoder_GDPR_Model_Observer</class>
                        <method>addAnonymiseButton</method>
                    </landofcoder_gdpr_model_resource_observer>
                </observers>
            </adminhtml_widget_container_html_before>
        </events>
        <template>
            <email>
                <landofcoder_gdpr_confirm translate="label" module="landofcoder_gdpr">
                    <label>GDPR Confirm</label>
                    <file>landofcoder/gdpr/confirm.html</file>
                    <type>html</type>
                </landofcoder_gdpr_confirm>
                <landofcoder_gdpr_success translate="label" module="landofcoder_gdpr">
                    <label>GDPR Success</label>
                    <file>landofcoder/gdpr/success.html</file>
                    <type>html</type>
                </landofcoder_gdpr_success>
            </email>
        </template>
    </global>
    <default>
        <landofcoder_gdpr>
            <options>
                <enabled>1</enabled>
            </options>
            <configuration>
                <cookienotice>1</cookienotice>
                <enabled>1</enabled>
                <cookietitle>Cookie-Richtlinie</cookietitle>
                <linktitle>Klicken Sie hier, um mehr über die Cookie-Einstellungen zu erfahren.</linktitle>
                <acceptlabel>Akzeptieren</acceptlabel>
                <cms_page>home</cms_page>
                <enablepopup>1</enablepopup>
            </configuration>
        </landofcoder_gdpr>
    </default>
</config>
